<h2 class="margin--top align--centre products__title"><span class="heading--special">Katie-Ella</span> on Instagram</h2>
<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/in/?u=a2F0aWUuZWxsYS5jcmVhdGlvbnN8aW58MTI1fDZ8MXx8bm98MHxmYWRlT3V0fG9uU3RhcnR8bm98eWVz&ve=130416" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
