//==========================================================================
//   BASE
//==========================================================================

    //
    // Define all your typography variables here. Remember to comment all relevant information.
    //

    // Stacks
    $font-primary:  "europa",sans-serif;
    $font-special: "salamander_scriptregular",serif;

    // Weights
    $weight-black: 400;
    $weight-bold: 400;
    $weight-normal: 300;
    $weight-light: 100;

    // Base
    $size-base: 16px;
    $size-larger: 20px;
    $size-largest: 24px;
    $size-smaller: 14px;
    $line-height-looser: 1.7em;
    $line-height-base: 1.5em;
    $line-height-tighter: 1.1em;

    // Headings
    $size-h1: 42px;
    $size-h2: 32px;
    $size-h3: 24px;
    $size-h4: 18px;
    $size-h5: 16px;
    $size-h6: 16px;


    // Defining your typography source.

    @font-face {
        font-family: 'salamander_scriptregular';
        src: url('salamanderscript-webfont.eot');
        src: url('salamanderscript-webfont.eot?#iefix') format('embedded-opentype'),
             url('salamanderscript-webfont.woff2') format('woff2'),
             url('salamanderscript-webfont.woff') format('woff'),
             url('salamanderscript-webfont.ttf') format('truetype'),
             url('salamanderscript-webfont.svg#salamander_scriptregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    // Sets the global style for the site.
    body {
    	font-family: $font-primary;
    	font-size: $size-base;
    	line-height: $line-height-base;
    }
