//==========================================================================
//   NOTICES
//==========================================================================

	.notice {
		padding: $spacing/2;
		background: $colour-teal;
		font-size: $size-larger;
		color: $colour-white;
		margin-bottom: $spacing/2;

		p {
			margin: 0;
			font-size: $size-base;
			text-align: center;
		}

		a {
			color: $colour-white;
		}
	}

	.notice--error {
		background: $colour-failure;
	}

	.notice--success {
		background: $colour-success;
	}
