//==========================================================================
//   NOTICES
//==========================================================================

	.notice,
	.errors {
		padding: $spacing/2;
		background: $colour-teal;
		font-size: $size-larger;
		color: $colour-white;
		margin-bottom: $spacing/2;
		font-size: $size-base;
		text-align: center;

		p {
			margin: 0;
			font-size: $size-base;
			text-align: center;
		}

		a {
			color: $colour-white;
		}
	}

	.notice--error,
	.errors {
		background: $colour-failure;

		ul {
			@extend .list--unstyled;
		}
	}

	.notice--success {
		background: $colour-success;
	}
