//==========================================================================
//   CALLOUTS
//==========================================================================

.callouts__block {
	display: block;
	position: relative; 
	@include prefix(transform, scale(1));
    @include prefix(transition, transform $animation-time $easing);

    &:hover {
	    @include prefix(transform, scale(1.05));
    }

	.button {
		position: absolute;
		bottom: $spacing;
		right: $spacing;
	}
}
