//==========================================================================
//   CALLOUTS
//==========================================================================

.callouts__block {
	display: block;
	position: relative;
	text-decoration: none;
	@include prefix(transform, scale(1));
    @include prefix(transition, transform $animation-time $easing);
	min-height: 90px;  

    &:hover {
	    @include prefix(transform, scale(1.05));
    }

	img {
		display: block;
		width: 100%;
	}

	&-title {
		margin: 0;
		text-decoration: none;
		display: block;
		padding: $spacing;
		background: $colour-grey;
		color: $colour-black;

		@media all and (min-width: $lap-start) {
			background: $colour-grey--opaque;
			left: 0;
			right: 0;
			position: absolute;
			top: 0;

			.callouts__block--main & {
				font-family: $font-special;
				color: $colour-blue;
			}
		}
	}

	&-button {
		position: absolute;
		bottom: $spacing/2;
		right: $spacing/2;
	}
}
