//==========================================================================
//   PRODUCTS
//==========================================================================

.template-collection,
.template-index,
.template-search {
    .col-md-2 {
        @media all and (max-width: $lap-start) {
            &:nth-child(odd) {
                clear: left;
            }
        }
        @media all and (min-width: $lap-start) {
            &:nth-child(4n + 5) {
                clear: left;
            }
        }
        @media all and (min-width: $desk-start) {
            &:nth-child(4n + 5) {
                clear: none;
            }
            &:nth-child(6n + 7) {
                clear: left;
            }
        }
    }
}

.products__title {
    border-bottom: 1px solid $colour-grey;
    display: table;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: $spacing;
}

    .product {
        display: block;
        text-decoration: none;
        color: $colour-black;
        margin-bottom: $spacing;
    }

        .product__thumb {
            @include prefix(transform, scale(1));
            @include prefix(transition, transform $animation-time $easing);

            .product:hover & {
                @include prefix(transform, scale(1.05));
            }
        }

        .product__title {
            margin: $spacing/3 0 $spacing/2 0;
            font-weight: $weight-bold;
            @include prefix(transition, color $animation-time $easing);

            .product:hover & {
                color: $colour-orange;
            }
        }

// Single product

.product-single__title {
	margin-top: 0;
	text-align: left;
	margin-bottom: $spacing/2;
}

.product-single__price {
	color: $colour-orange;
	margin: 0 0 $spacing/2 0;
	display: inline-block;
}

.product-single__sale-price {
    color: darken($colour-grey,8%);
    text-decoration: line-through;
}

.product-main__image {

    img {
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        display: block;
        width: 100%;
        @include prefix(transform, translateY(-10px));

        &.toggle-element--open {
            opacity: 1;
            visibility: visible;
            overflow: visible;
            height: auto;
            @include prefix(transform, translateY(0px));
            @include prefix(transition, all $animation-time $easing);
        }
    }

    .button {
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        display: block;
        @include prefix(transform, translateY(-10px));
        position: absolute;
        top: $spacing/2;
        left: $spacing/2;
    }

    .product-main__image-inner:hover {
        .button {
            opacity: 1;
            visibility: visible;
            overflow: visible;
            height: auto;
            @include prefix(transform, translateY(0px));
            @include prefix(transition, all $animation-time $easing);
        }
    }

    + .row {
        .col-md-4 {
            &:nth-child(3n + 4) {
                clear: left;
            }
        }
    }
}

.product-main__thumb {
    background-size: cover;
    background-position: center;
    display: block;
    margin-bottom: $spacing;
    @include prefix(transform, scale(1));
    @include prefix(transition, all $animation-time/2 $easing);

    &.toggle-element--active {
        @include prefix(transform, scale(1.1));
    }

    img {
        width: 100%;
        display: block;
    }
}

.product-single__desc {
    overflow: auto;
    clear: both;
    padding-top: $spacing;
}

.product-single {
	form {

	}

    .selector-wrapper {
        margin-bottom: $spacing;
    }

	input[type='number'] {
		width: 100px;
		float: left;
		text-align: center;
	}

	.button {
		border: none;
		margin-left: $spacing/2;
		float: left;
	}
}
