//==========================================================================
//   FOOTER
//==========================================================================

.footer {
	background: $colour-grey;
	padding: 0 $spacing/2 $spacing/2 $spacing/2 ; 
	
	a {
    	
    	&:hover {
        	color: $colour-orange;
    	}
	}
}

    .footer__newsletter {
        padding: $spacing/2 0; 
        margin-bottom: $spacing; 
        border-bottom: 1px solid darken($colour-grey,10%);
        
        input[type='email'] {
            width: 75%;
            float: left; 
            color: $colour-black;
            
            @media all and (max-width: $palm-start) {
	            width: 65%;
            }
        }
        
        input[type='submit'] {
            width: 23%;
            float: right; 
            padding-left: 0;
            padding-right: 0; 
            
            @media all and (max-width: $palm-start) {
	            width: 33%;
            }
        }
        
        .mce_inline_error {
	        position: absolute; 
        }
        
        p {
            display: block;
            clear: both; 
            overflow: auto; 
            margin: $spacing/3 0 0 0;
        }
    }

    .footer__title {
        margin-bottom: $spacing/2; 
    }

    .footer__smallprint {
        margin: $spacing 0 0 0;
        padding-top: $spacing/2; 
        border-top: 1px solid darken($colour-grey,10%);
    }