//==========================================================================
//   NAVIGATION
//==========================================================================

// Vars

$mobile-nav: $lap-start;


.nav {
	padding: $spacing/3 0;
	position: relative;

	a {
		color: $colour-black;
		text-decoration: none;
		@include prefix(transition, all $animation-time $easing);
	}

	.container {

		> ul {
        	border-top: 1px solid $colour-grey;
    		border-bottom: 1px solid $colour-grey;
    		width: 100%;
    	}
	}
}

	.nav__parent {
		position: relative;

		@media all and (min-width: $mobile-nav) {
			margin: 0!important;
			@include prefix(transition, margin $animation-time $easing);
		}

		@media all and (min-width: $desk-start) {
			margin: 0 $spacing/3 !important;
		}

		@media all and (min-width: $large-start) {
			margin: 0 $spacing/2 !important;
		}

		>a {
			display: block;
			padding: $spacing/2;

			&:hover {
				color: $colour-teal;
			}
		}
	}

		.nav__paren--standout {
			>a {
				color: $colour-orange;
			}
		}

		.nav__dropdown {
			width: 300px;
			opacity: 0;
			visibility: none;
			position: absolute;
			left: 0;
			height: 0;
			display: block;
			overflow: hidden;
			top: 100%;
			z-index: $zindex-super;
			background: $colour-grey;
			text-align: left;
			@include prefix(transform, translateY(-10px));

			&:after {
				bottom: 100%;
				left: 30px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: $colour-grey;
				border-width: 10px;
				margin-left: -10px;

				@media all and (max-width: $mobile-nav) {
					left: 50%;
				}
			}

			.nav__parent:hover & {
				opacity: 1;
				visibility: visible;
				overflow: visible;
				height: auto;
				@include prefix(transform, translateY(0px));
				@include prefix(transition, all $animation-time $easing);
			}
		}

			.nav__child {
				display: block;
				width: 100%;

				>a {
					padding: $spacing/2;
					display: block;

					&:hover {
						background: darken($colour-grey,2%);
						color: $colour-teal;
					}
				}
			}

// Mobile menu

.nav__toggle {
	display: block;
	padding: 11px;
	text-align: center;
	border-top: 1px solid $colour-grey;
	border-bottom: 1px solid $colour-grey;

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 20px;
		background: $colour-black;
		opacity: 1;
		left: 50%;
		margin-left: -60px;
		@include prefix(transform, rotate(0deg));
		@include prefix(transition, all $animation-time ease-in-out);

		&:nth-child(1) {
			top: 25px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 32px;
		}

		&:nth-child(4) {
			top: 39px;
		}
	}

	&.nav__toggle--active {
		span {
			&:nth-child(1) {
				opacity: 0;
			}
			&:nth-child(2) {
				@include prefix(transform, rotate(45deg));
			}
			&:nth-child(3) {
				@include prefix(transform, rotate(-45deg));
			}
			&:nth-child(4) {
				opacity: 0;
			}
		}
	}

	@media all and (min-width: $mobile-nav) {
		display: none;
	}
}

.nav__items {
	display: none;


	@media all and (max-width: $mobile-nav) {
		&.nav__items--show {
			display: block;
		}

		.nav__parent {
			width: 100%;
			margin: 0;
		}

		.nav__dropdown {
			position: relative;
			width: 100%;
			text-align: center;
		}
	}

	@media all and (min-width: $mobile-nav) {
		display: block;
	}
}

// Breadcrumbs

.breadcrumb {
	display: none;

	@media all and (min-width: $palm-start) {
		display: block;
		padding: $spacing 0;
		font-size: $size-smaller;
		color: ligthen($colour-black,5%);

		a {
			text-decoration: none;

			&:before {
				content: "N";
				font-family: "niche" !important;
				position: relative;
				top: 3px;
				margin-right: $spacing/3;
				font-style: normal !important;
				font-weight: normal !important;
				font-variant: normal !important;
				text-transform: none !important;
				speak: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-decoration: none;
				color: $colour-black;
			}

			&:first-child {
				&:before {
					content: "H";
				}
			}
		}
	}
}
