{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

<h1 class="page-title margin--top"><span>{{ 'collections.general.title' | t }}</span></h1>

<div class="grid-uniform">
    {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
            {% assign collection_item_width = 'medium-down--one-half large--one-third' %}
            {% assign featured = collection.handle %}
            {% include 'collection-grid-item' %}
        {% endunless %}
    {% endfor %}
</div>
