<h1 class="page-title margin--top">{{ page.title }}</h1>

{% comment %}
  Regular page content goes here.
{% endcomment %}
<div class="padding--bottom">
  {{ page.content }}
</div>

<div class="margin--bottom">
    <h3 class="align--centre products__title">Katie-Ella on Instagram</h3>
    <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/e86deaaf6d830be2ad4c641e8e1b449cf6068546.html" id="instansive_e86deaaf6d" name="instansive_e86deaaf6d"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>
