    <div class="container container--thin">
    <h1 class="page-title margin--top"><span>{{ page.title }}</span></h1>
    <div class="padding--bottom">
      {{ page.content }}
    </div>
</div>

<div class="margin--bottom">
    {% include 'instagram' %}
</div>
